{% comment %} {% extends "base.html" %}
{% load static %}
{% block title %}
CHAT
{% endblock title %}

{% block css_files %}
<link rel="stylesheet" href="{% static "chat/styles.css" %}"/>
{% endblock css_files %}

{% block content %}
<div class="chat-box">
<h1>Welcome to the CHAT ROOM</h1>
<div id="chat-msgs">
    {% for message in messages %}
    <p>{{message.user.username}} : {{message.content}}<p>
    {% endfor %}
</div>
<div class="text-box">
<form action="{% url "send_msg" %}" method ="POST">
    {% csrf_token %}
    <input type="text" name="content" placeholder="Type your message...">
    <button type = "submit">Send</button>
</form>
</div>
</div>
{% endblock content %} {% endcomment %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>
<body>
    <div>
        <h1>Available Chat Rooms</h1>
        <ul>
            {% for room in group_chats%}
            <li> 
                {{room.name}}
                <a href = {% url "room" room.name %}>JOIN</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    
    What chat room would you like to enter?<br>
    <input id="room-name-input" type="text" size="100"><br>
    <input id="room-name-submit" type="button" value="Enter">


    <h3>Start a Private Chat</h3>
    <p>Enter a username to start a private chat:</p>
    <input id="private-chat-username-input" type="text" size="50" placeholder="Enter username"><br>
    <input id="private-chat-submit" type="button" value="Start Private Chat"><br><br>

    <h1>Your Private Chats</h1>
<ul>
    {% for chat in pvt_chats %}
    <li>
        {% comment %} {{ chat.friend }} {% endcomment %}
        <p>Room Name: {{ chat.room_name }}</p> 
        <a href="{% url 'pvt_chat' room_name=chat.room_name %}">{{chat.friend}}</a>
    </li>
    {% endfor %}
</ul>


    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };


        //pvt 
        document.querySelector('#private-chat-username-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#private-chat-submit').click();
            }
        };

        // Handle private chat submit button
        {% comment %} document.querySelector('#private-chat-submit').onclick = function(e) {
            var username = document.querySelector('#private-chat-username-input').value;
            if (username) {
                // window.location.pathname = '/dm/' + username + '/';
                window.location.pathname = '/chat/' + username + '/';
            }
        }; {% endcomment %}
        document.querySelector("#private-chat-submit").onclick = function(){
            const friendUserName = document.querySelector('#private-chat-username-input').value;
            if (friendUserName.trim()!==""){
                const currUserName="{{request.user.username}}";
                const room_name = [currUserName,friendUserName].sort().join("-");
                {% comment %} window.location.href = `/chat/dm/${room_name}/`; {% endcomment %}
                window.location.pathname = '/chat/dm/' + room_name + '/';
            }else{
                alert("Please enter a username to enter private chat.");
            }
        }
    </script>
</body>
</html>

