{% extends "chat/roombase.html" %}
{% load static %}

{% block extracss %}
    {% comment %} <link rel="stylesheet" href="{% static "chatview.css" %}"> {% endcomment %}
{% endblock %}


{% block chatcontainer %}
    <div class="chat-header">
        <h2>{{ room_name }}</h2>
        <div id="nav-container">
            <form action="{% url "roomoptions" room_name %}">
                <button id="options" class="button">Options</button>
            </form>
            
        </div>
    </div>

    <textarea id="chat-log" readonly>{% for msg in messages %}{{msg.timestamp}} {{msg.username}}: {{msg.message}}
    {% endfor %}</textarea>
    <div class="chat-input-container">
        <input id="chat-message-input" type="text" placeholder="Type a message...">
        <div class="buttons-container">
            <button id="chat-message-submit" class="button">Send</button>
            <button id="chat-leave" class="button">Leave</button>
        </div>
    </div>
{% endblock %}